{% extends 'Base/base.html.twig' %}

{% block body %}
    <header>
        <a class="airport-brand" href="/">
            <img src="/images/gelre-airport-image.png" />
            <h1 class="brand-name"><span class="brand-name-main">Gelre<span class="brand-name-second">Airport</h1>
        </a>
        <div class="header-personal">
            {% if session().isAuthenticated() %}
            <details class="rw-overflow">
                <summary>{{session().getUser().getUsername()}}</summary>
                <div class="rw-overflow-content">
                    <ul class="rw-overflow-items">
                        <li><a href="/logout">Uitloggen</a></li>
                        <li><a href="/boekingen/vluchten">Mijn vluchten</a></li>
                    </ul>
                </div>
            </details>
            {% else %}
                <a href='/login'>Inloggen</a> | <a href='/register'>Registreren</a>
            {% endif %}
        </div>
    </header>
    <nav>
        {# Based on roles, show the navigation items #}
        <a class="nav-item {{ (pathInfo == '/vluchten') ? 'active' : '' }}" href="/vluchten">Vluchten</a>
        <a class="nav-item {{ (pathInfo == '/boekingen/vluchten') ? 'active' : '' }}" href="/boekingen/vluchten">Mijn vluchten</a>
    </nav>
    <main>
        {# Flash messages #}
        {% if session().hasNotification() %}
        <div class="container-invisible">
            {% for notificationType in session().getNotificationTypes %}
                {% if session().hasFlash(notificationType) %}
                    <div class='rw-notification-{{notificationType}}' role="alert">
                        <ul>
                            {% for message in session().getFlash(notificationType) %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% block main %}
            {# Main content will be rendered here #}
        {% endblock %}
    </main>
    <footer>
        This is the footer
    </footer>
{% endblock %}