{% extends 'Base/layout.html.twig' %}

{% block main %}
<div class="container-invisible">
    <button class="btn btn-primary">
        <a href="/vluchten">&lt; Terug naar vluchten overzicht</a>
    </button>
    {% if passenger_details is empty %}
    <form method="get" action="/stoel_boeken/{{flight.flightNumber}}">
        <button class="btn btn-primary ml-2">
            Vlucht boeken
        </button>
    </form>
    {% endif %}
</div>
<div class="container">
    <h2>Passagier details</h2>
    <div class="d-flex mt-3">
        <div>
            <h3>Overzicht vlucht</h3>
            <table class="rw-table table-vertical">
                <tbody>
                    <tr>
                        <th>Vluchtnummer</th>
                        <td>{{ flight.flightNumber }}</td>
                    </tr>
                    <tr>
                        <th>Bestemming</th>
                        <td>{{ flight.destination|capitalize }}</td>
                    </tr>
                    <tr><th>Gatecode</th><td>{{ flight.gate|capitalize }}</td></tr>
                    <tr><th>Max aantal passagiers</th><td>{{ flight.maxPassengers }}</td></tr>
                    <tr><th>Max gewicht pp</th><td>{{ flight.maxWeightPerPassenger }}</td></tr>
                    <tr><th>Max gewicht totaal</th><td>{{ flight.maxTotalWeight }}</td></tr>
                    <tr><th>Vertrektijd</th><td>{{ flight.departureTime|date('d-m-Y H:i') }}</td></tr>
                    <tr><th>Maatschappijcode</th><td>{{ flight.airlineCode|capitalize }}</td></tr>
                    
                </tbody>
            </table>
        </div>
        {% if passenger_details is not empty %}
        <div class="ml-4">
            <h3>Boeking details</h3>
            <table class="rw-table table-vertical">
                <tbody>
                    <tr>
                        <th>Naam</th>
                        <td>{{ passenger_details.name }}</td>
                    </tr>
                    <tr>
                        <th>Stoel</th>
                        <td>{{ passenger_details.seatNumber }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td><span class="tag-green">Geboekt</span></td>
                    </tr>
                    <tr>
                        <th>Bagage</th>
                        <td>
                            <form>
                                <div class="baggage-container">
                                    <div class="baggage">10kg</div>
                                    <div class="baggage">20kg</div>
                                    <button class="btn btn-primary btn-small ml-1">+</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
<div class="container">
    <div>
        <h2>Stoelen</h2>
        {% include 'Flight/Components/plane.html.twig' %}
    </div>
</div>
{# If role employee #}
{% if authorizeView('employee') %}
<div class="container">
    <div>
        <h2>Passagiers</h2>
        <table class="rw-table">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Stoel</th>
                    <th>Status</th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
            {% if passengers is not empty %}
                {% for passenger in passengers %}
                <tr>
                    <td>{{ passenger.name }}</td>
                    <td>{{ passenger.seatNumber }}</td>
                    <td><span class="tag-green">Geboekt</span></td>
                    <td>
                        <form method="get" action="/vluchten/{{flight.flightNumber}}/passagier/{{passenger.userId}}">
                            <button class="btn btn-primary">
                                Bewerken
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr class="rw-table-no-records">
                    <td colspan="4">Geen passagiers gevonden</td>
                </tr>
            {% endif %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        Passagiers ingeladen: {{ passengers|length }}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}
