{% extends 'Base/layout.html.twig' %}

{% block main %}
<div class="container-invisible">
    <button class="btn btn-primary">
        <a href="/vluchten">Terug naar overzicht</a>
    </button>
    {% if passenger_details is empty %}
    <form method="post" action="/boeken/{{flight.flightNumber}}">
        <button class="btn btn-primary ml-2">
            Vlucht boeken
        </button>
    </form>
    {% endif %}
</div>
<div class="container">
    <div class="d-flex">
        <div>
            <h2>Overzicht vlucht</h2>
            <table class="rw-table table-vertical">
                <tbody>
                    <tr>
                        <th>Vluchtnummer</th>
                        <td>{{ flight.flightNumber }}</td>
                    </tr>
                    <tr>
                        <th>Bestemming</th>
                        <td>{{ flight.destination|capitalize }}</td>
                    </tr>
                    <tr><th>Gatecode</th><td>{{ flight.gate|capitalize }}</td></tr>
                    <tr><th>Max aantal passagiers</th><td>{{ flight.maxPassengers }}</td></tr>
                    <tr><th>Max gewicht pp</th><td>{{ flight.maxWeightPerPassenger }}</td></tr>
                    <tr><th>Max gewicht totaal</th><td>{{ flight.maxTotalWeight }}</td></tr>
                    <tr><th>Vertrektijd</th><td>{{ flight.departureTime|date('d-m-Y H:i') }}</td></tr>
                    <tr><th>Maatschappijcode</th><td>{{ flight.airlineCode|capitalize }}</td></tr>
                    
                </tbody>
            </table>
        </div>
        {% if passenger_details is not empty %}
        <div class="ml-4">
            <h2>Boeking details</h2>
            <table class="rw-table table-vertical">
                <tbody>
                    <tr>
                        <th>Naam</th>
                        <td>{{ passenger_details.name }}</td>
                    </tr>
                    <tr>
                        <th>Stoel</th>
                        <td>{{ passenger_details.seatNumber }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td><span class="tag-green">Geboekt</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
{# If role employee #}
<div class="container">
    <div>
        <h2>Passagiers</h2>
        <div>
            {% if passengers is not empty %}
                {% for passenger in passengers %}
                    <div class="passenger">
                        <div class="passenger-info">
                            <div class="passenger-name">{{ passenger.name }}</div>
                            <div class="passenger-seat">{{ passenger.seatNumber }}</div>
                        </div>
                        <div class="passenger-status">
                            <span class="tag-green">Geboekt</span>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div>Geen passagiers geboekt</div>
            {% endif %}
        </div>
        <div class="plane">
            <div class="plane-front">
                <div class="cockpit">
                    <div class="seat disabled"></div>
                    <div class="seat disabled"></div>
                </div>
                <div class="backroom">
                    <div class="toilet-room">
                        <div class="toilet"></div>
                    </div>
                    <div class="plane-door">
                    </div>
                </div>
            </div>
            <div class="plane-body">
                {% for i in 1..5 %}
                    <div class="plane-supersection">
                    {% for i2 in 1..3 %}
                        <div class="plane-section">
                            <div class="plane-subsection">
                                <div class="seat">A{{(i * i2)}}</div>
                                <div class="seat">A{{(i * i2)}}</div>
                            </div>
                            <div class="plane-subsection">
                                <div class="seat">A{{i}}</div>
                                <div class="seat">A{{i}}</div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endfor %}
                <div class="plane-tail">
                    <div class="backroom">
                        <div class="toilet-room">
                            <div class="toilet"></div>
                        </div>
                        <div class="plane-door">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
